/* Top sidebar panel */
.wy-side-nav-search {
    background-color: #e1e1e1 !important;   /* CHANGE THIS */
    transition: all 0.3s ease;
}

/* Glass effect on hover */
.wy-side-nav-search:hover {
    background: rgba(255, 255, 255, 0.775) !important; /* more transparent on hover */
    backdrop-filter: blur(10px); /* apply blur on hover */
}

/* Project title text (Home logo text) */
.wy-side-nav-search > a,
.wy-side-nav-search > div.version {
    color: #000000 !important;   /* black */
}

/* Change the text color of the main dropdown button */
.rst-versions .rst-version {
    color: #000000 !important;
}

/* Change the text color of links within the dropdown menu */
.rst-versions a {
    color: #000000 !important;
}

/* Change text color on hover for accessibility/visibility */
.rst-versions a:hover {
    color: #000000 !important;
}


/* Bottom sidebar panel */
.wy-nav-side {
    background-color: #0f0f0f !important;   /* CHANGE THIS */
}